@import "~include-media/dist/include-media";

$link: #5297ff;
$color: #3f6188;
$bgColor: #f5f6f7;
$gutter: 20px;

$breakpoints: (phone: 520px, tablet: 768px, desktop: 1024px, large: 1300px);

@function spacer($i:1) {
  @return calc(var(--gutter) * #{$i});
}

@mixin snap($media: '<=phone') {

  @include media($media) {

    @supports(scroll-snap-type: mandatory) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding: spacer() 0;
      margin: 0 spacer(-1);
      overflow: auto;
      scroll-snap-type: mandatory;
      scroll-snap-points-x: repeat(calc(100% - var(--gutter) * 2));

      &:after {
        content: '';
        flex: 0 0 auto;
        width: spacer(2);
      }

      > * {
        flex: 0 0 auto;
        max-width: none;
        width: calc(100vw - var(--gutter) * 2);
        padding-left: var(--gutter);
        scroll-snap-align: start;
      }
    }
  }
}
